@page
@model Project_202.Pages.Admin.DeleteModel
@{
    ViewData["Title"] = "Deletion page";
}
@{
    Layout = "~/Pages/Shared/_Layout_Admin.cshtml";
}

<!DOCTYPE html>
<style>
    .form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: 350px;
        background-color: #fff;
        padding: 20px;
        border-radius: 20px;
        position: relative;
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
        margin: auto;
    }

    .container {
        text-align: center;
    }

    .maintitle {
        font-size: 28px;
        color: #34282c;
        font-weight: 700;
        letter-spacing: -1px;
        position: relative;
        align-items: center;
        padding-left: 30px;
    }

    .title {
        font-size: 28px;
        color: #B87333;
        font-weight: 500;
        letter-spacing: -1px;
        position: relative;
        align-items: center;
        padding-left: 30px;
    }

    .flex {
        display: flex;
        width: 100%;
        gap: 6px;
    }

    .form label {
        position: relative;
    }

        .form label .input {
            width: 100%;
            padding: 10px 10px 20px 10px;
            outline: 0;
            border: 1px solid rgba(105, 105, 105, 0.397);
            border-radius: 10px;
        }

            .form label .input + span {
                position: absolute;
                left: 10px;
                top: 15px;
                color: grey;
                font-size: 0.9em;
                cursor: text;
                transition: 0.3s ease;
            }

            .form label .input:placeholder-shown + span {
                top: 15px;
                font-size: 0.9em;
            }

            .form label .input:focus + span, .form label .input:valid + span {
                top: 30px;
                font-size: 0.7em;
                font-weight: 600;
            }

            .form label .input:valid + span {
                color: green;
            }

    .submit {
        border: none;
        outline: none;
        background-color: royalblue;
        padding: 10px;
        border-radius: 10px;
        color: #fff;
        font-size: 16px;
    }

        .submit:hover {
            background-color: rgb(56, 90, 194);
        }

    .inputbutton {
        background-color: #B87333;
        text-align: center;
        align-self: center;
        border: 2px;
        border-radius: 12px;
        padding: 5px;
        color: white;
    }

    .returnbutton {
        position: relative;
        background-color: #B87333;
        text-align: right;
        margin: auto;
        border: 2px;
        border-radius: 12px;
        padding: 5px;
        color: white;
    }

</style>

<html>
<head>
    <title>Delete page</title>
</head>
<body>
    <h1 class="maintitle">Deletion page</h1>
    <div class="container">
        <h4 class="title">Delete a Match</h4>
        <form method="post" asp-page-handler="Match" class="form">
            &emsp;&emsp;
            <label class="form-label">Gameweek</label>
            <input type="text" asp-for="@Model.Gameweek" class="input"></input>
            <label class="form-label">Home Team</label>
            <input type="text" asp-for="@Model.MatchHomeTeam" class="input"></input>
            <label class="form-label">Away Team</label>
            <input type="text" asp-for="@Model.MatchAwayTeam" class="input"></input>
            <input type="submit" class="inputbutton" />
        </form>
    </div>
    <br />
    <div class="container">
        <h4 class="title">Delete a Goal</h4>
        <form method="post" asp-page-handler="Goal" class="form">
            <label class="form-label">Minute</label>
            <input type="text" asp-for="@Model.Minute" class="input"></input>
            <label class="form-label">Home Team</label>
            <input type="text" asp-for="@Model.GoalHomeTeam" class="input"></input>
            <label class="form-label">Away Team</label>
            <input type="text" asp-for="@Model.GoalAwayTeam" class="input"></input>
            <input type="submit" class="inputbutton" />
        </form>

        <br><form method="post">
            <button class="returnbutton" asp-page-handler="Return">Retrun to Admin</button>
        </form>
    </div>
</body>
</html>
